# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE/editor-specific files
.vscode/
.idea/
*.swp
*.swo

# Ignore build and distribution files
build/
dist/
*.egg-info/

# Ignore .th files
*.th